.about {
    background-color:rgb(10, 10, 10);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}


.about-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.about h2 {
    color: white;
}

.about h3 {
    color: white;
    font-size: 68px;
    line-height: 90px;
    letter-spacing: 8px;
    text-transform: lowercase;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22vh;
}

.about-hero-info {
    text-align: left;
}

.about-photo-and-info-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    padding-top: 100px;
}

.about-image-container {
    width: 48%;
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.about-image-container::before {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 85%;
    height: 100%;
    border: 1px solid #DE5858;
    content: '';
  }

.about-image-container img {
    width: 85%;
}

.about h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color:  #DE5858;
    letter-spacing: 4px;
    line-height: 50px;
}

.about p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.about-info {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-around;
}

hr {
    border: 1px solid rgb(92, 92, 92);
    width: 90%;
    margin-top: 280px;
    margin-bottom: 280px;
}

.resume-container {
    display: flex;
    flex-direction: column;
}

.resume-image-container {
    width: 80%;
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.resume-image-container::before {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 88%;
    height: 82%;
    border: 1px solid white;
    content: '';
  }

.resume-image-container img {
    width: 100%;
}

.resume-header {
    width: 70%;
    margin: auto;
    padding-bottom: 80px;
}


.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-header {
    width: 100%;
    margin: auto;
    text-align: left;
    padding-bottom: 300px;
}

.contact-text {
    width: 100%;
    padding-bottom: 300px;
}

.contact-text h4 {
    color: white;
    line-height: 60px;
    letter-spacing: 12px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 200px;

}

.contact-links > a {
    text-transform: uppercase;
    font-size: 16px;
    color: white;

}






