.about {
    background-color:rgb(10, 10, 10);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}


.about-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.about h2 {
    color: white;
}

.about h3 {
    color: white;
    font-size: 68px;
    line-height: 98px;
    letter-spacing: 8px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22vh;
}

.about-hero-info {
    text-align: left;
}

.about-photo-and-info-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    padding-top: 10vh;
}

.about-image-container {
    width: 48%;
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.about-image-container::before {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 85%;
    height: 100%;
    border: 1px solid #DE5858;
    content: '';
  }

.about-image-container img {
    width: 85%;
}

.about h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    color:  #DE5858;
    letter-spacing: 4px;
    line-height: 50px;
}

.about p {
    color: white;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.p2 {
    padding-top: 30px;
}

.about-info {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-around;
}


.about-quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    padding-top: 12vh;
}

.about-quote-container h5 {
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 100;
}

.about-quote-author h5 {
    font-size: 20px;
    color:rgb(98, 98, 98)
}

hr {
    border: 1px solid rgb(110, 110, 110);
    width: 90%;
    margin-top: 280px;
    margin-bottom: 280px;
}

.resume-container {
    display: flex;
    flex-direction: column;
}

.resume-image-container {
    width: 80%;
    display: flex;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* .resume-image-container::before {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 88%;
    height: 82%;
    border: 1px solid white;
    content: '';
  } */

.resume-image-container img {
    width: 100%;
}

.resume-header {
    width: 70%;
    margin: auto;
    padding-bottom: 80px;
}


.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-header {
    width: 100%;
    margin: auto;
    text-align: left;
    padding-bottom: 300px;
}

.contact-text {
    width: 100%;
    padding-bottom: 300px;
}

.contact-text h4 {
    color: white;
    line-height: 60px;
    letter-spacing: 12px;
}

.contact-links {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 200px;
}

.about-social-link {
    height: 40px;
    width: 40px;
    padding: 20px;
}






