.dev {
    background-color:rgb(10, 10, 10);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.dev h2 {
    color: white;
}

.dev-container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
    margin-top: 100px;
}

.dev-heading {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 68px;
    line-height: 98px;
    letter-spacing: 8px;
    padding-top: 200px;
}

.dev-project {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dev-project-card img {
    width: 100%;
}

.dev-project-info {
    width: 100%;
    padding: 12px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dev-project-title {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 50px;
    padding-bottom: 12px;
}

.dev-project-info {
    color: white;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.dev-project-links {
    display: flex;
    flex-direction: row;
    padding-top: 18px;
}

.dev-project-links a {
    font-family: 'Fjalla One', sans-serif;
    color: rgb(98, 98, 98);
    padding-bottom: 24px;
    padding-right: 64px;
    font-size: 24px;
}

hr {
    border: 1px solid rgb(98, 98, 98);
    width: 90%;
    margin-top: 280px;
    margin-bottom: 280px;
}
