.journal {
    background-color:rgb(10, 10, 10);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.journal h3 {
    color: white;
    font-size: 68px;
    line-height: 98px;
    letter-spacing: 8px;
}

.journal-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22vh;
}

.journal-article-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 22vh;
    flex-wrap: wrap;
}

.article-card {
    width: 375px;
    margin-bottom: 50px;
}

.article-card-image {
    width: 100%;
}

.article-card h5 {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 6px;
}

.article-card h6 {
    font-family: 'Roboto', sans-serif;
    color: rgb(110,110,110);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 6px;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}